{% load i18n %}
{% load mptt_tags %}
{% load tags %}
{% load staticfiles %}

{% block header %}
<link type='text/css' rel='stylesheet' media='all' href="{% static 'styles/clicker.css' %} "/>
<script src="{% static 'js/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script type='text/javascript' src="{% static 'js/clicker.js' %} "></script>
{% endblock %}

{% block content %}
<div id='clicker-interface'>
    <div class='clicker-explanation'>
        <h1>Presentation Remote Interface</h1>
        <p>
        Simply by having this page opened, you wil be able to control the presentation with a presentation remote, a mouse or a keyboard. To ensure you will capture all click events when using a mouse, the standard OpenSlides UI has been stripped. To quit this page, simply click the 'back' button in your browser. It is recommended to use this page full-screen (F11).
        </p>
        <p>
        Supported controls are:

        <table>
            <thead>
                <tr><td>Key</td><td>Action</td></tr>
            </thead>
            <tr><td>Arrow Left</td><td>Previous Page</td></tr>
            <tr><td>Arrow Right</td><td>Next Page</td></tr>
            <tr><td>Left Mouse Button</td><td>Next Page</td></tr>
        </table>
        </p>
        </p>
    </div>
</div>

<!-- projector live view -->
<div id="iframewrapper">
    <iframe id="iframe" src="{% url 'projector_show' %}" frameborder="0"></iframe>
</div>
{% endblock %}
