body {
    margin: 0;
}

#clicker-interface {
    background-color: #ddd;
    display: block;
    margin-top: -50px;
    width: 100%;
    height: 100%;
}

.clicker-explanation {
    color: #222;
    text-align: center;
    margin: 50px auto;
    font-size: 2em;
}

.clicker-explanation table {
    margin: 10px auto;
}
